<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <p>Hello World, I hope this works.</p>
    <p>Hello <%=text%> </p>
    <h1>Hello <%= locals.text ?? 'Newbie' %> </h1>
</body>
</html>